body {
  margin: 0 auto;
  line-height: normal;
  font-family: "Bandschrift", sans-serif;
  background-image: url(img/Lines_background.png);
  background-color: #3D4142;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  background: #2E3032;
  border: 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

a {
  margin-left: 15px;
  margin-right: 15px;
}

.left-logo-link {
  position: relative;
  margin: 0px;
  height: 100px;
  width: 100px;
}

.page-header {
  position: relative;
  background-color: #2E3032;
  margin: 0px auto;
  height: 102px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.37);
  animation-name: PageHeaderAppear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes PageHeaderAppear {
  from {top: -120px;}
  to {top: 0px;}
}

.page-header-logo-container {
  margin: 0px auto;
  width: 1000px;
  text-align: center;
  z-index: 1;
}

.page-header-logo {
  height: 102px;
}

.left-logo-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  background-color: #F34723;
  background-image: url(img/favicon.png);
  border: 1px solid;
  border-color: #000000;
  border-radius: 0px;
  z-index: 2;
}

.left-logo-pic {
  margin: 0 auto;
  top: 0px;
  left: 0px;
  height: 100px;
}

.works-on-display {
  text-align: center;
  padding-top: 35px;
}

.works-row1 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.works-row2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.works-row3 {
  display: none;
}

.art-pic {
  opacity: 0;
  height: 350px;
  width: 300px;
  padding: 0px;
  margin-left: 15px;
  margin-right: 15px;
  border: 5px solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-sizing: content-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.37);
  animation-name: ArtAppear1;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transition: transform .2s;
}

.art-pic:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.art-pic:click {
  cursor: grabbing;
}

@keyframes ArtAppear1 {
  from {opacity: 0;}
  to {opacity: 100;}
}

.page-footer {
  position: static;
  background-position: bottom;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
}

.author {
  padding-top: 10px;
  color: #ffffff;
  font-weight: 100;
  font-size: 12px;
}
